@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-cream: #FDFBF9; /* Bin Saif Background */
  --bs-gold: #C5A059;  /* Premium Gold */
  --bs-black: #111111;
  --bs-gray: #757575;
}

body {
  background-color: var(--bs-cream);
  color: var(--bs-black);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.01em;
}

.btn-premium {
  @apply bg-[#111111] text-white px-8 py-4 text-[10px] font-bold uppercase tracking-[0.2em] hover:bg-[#C5A059] transition-all duration-500 shadow-xl;
}

.no-scrollbar::-webkit-scrollbar { display: none; }