@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-gold: #bcac76; /* Bin Saif Gold */
  --deep-black: #111111;
  --bg-white: #ffffff;
}

body {
  background-color: var(--bg-white);
  color: var(--deep-black);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.02em;
}

.btn-gold {
  @apply bg-[#bcac76] text-white hover:bg-black transition-all duration-500 uppercase tracking-[0.2em] font-bold;
}

.no-scrollbar::-webkit-scrollbar { display: none; }